.env
.git
.github
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
docker-compose.yml
docker-compose.*.yml
.Dockerfile.swp
.flake8
*.key
*.pem
*.cert
*.log
.coverage
coverage*
mongodb_data
.pytest_cache
*.db
